:root {
  --warning: #faaa19;
  --body-bg: #f3f5f6;
  --dark-bg: #304049;
}

body {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  background-color: var(--body-bg);
  margin: 1rem;
  height: calc(100vh - 2rem);
}

.text-slim {
  font-family: "Archivo";
  font-weight: 100;
}

.bold {
  font-family: "Archivo Black";
}

.title-font,
.text-warning {
  font-family: "Archivo Black";
  color: var(--warning);
}

.bg-white {
  background-color: var(--body-bg) !important;
}

.text-dark {
  color: var(--dark-bg) !important;
}

.rounded {
  border-radius: 25px !important;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

aside,
header,
.card:not(.bg-white) {
  background-color: var(--dark-bg);
  color: var(--body-bg);
  border-radius: 25px !important;
}

.card-img-top {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

header {
  height: 50px;
}

form input.form-control,
select {
  height: 32px !important;
}

header .input-group,
.input-group input {
  width: 350px;
  height: 30px;
  border-radius: 25px;
}

.input-group-text {
  border-radius: 25px;
}

.nav-pills .nav-link,
.nav-anchor {
  width: 80%;
  border-radius: 25px;
  font-family: "Archivo Black";
  margin: 0.3rem auto;
  text-align: left;
  color: var(--body-bg);
  text-decoration: none;
}

.nav-pills .nav-link.active,
.btn-warning {
  background-color: var(--warning);
}

.btn-slim {
  height: 30px;
  font-size: 9pt;
  width: 100px;
  font-family: "Archivo Black";
  color: var(--body-bg) !important;
}

textarea {
  resize: none;
}

.small {
  font-size: x-small;
}

.card-deck .card {
  min-width: 14rem;
}

.card-deck .text-decoration-none {
  color: var(--body-bg);
}

.code-block,
.code-block:focus,
.code-block:active {
  background-color: black;
  color: white;
}

@media (max-width: 767.98px) {
  body {
    height: fit-content;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}
